<footer id="myFooter">
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#"> <img src="../../assets/images/Lapeeze.png" alt="lapeeze logo" height="56px"> </a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Services</h5>
                <ul>
                    <li><a routerLink="/laptop" routerLinkActive="active">Laptop</a></li>
                    <li><a routerLink="/desktop" routerLinkActive="active">Desktop</a></li>
                    <li><a routerLink="/networking" routerLinkActive="active">Networking</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a routerLink="/contact" routerLinkActive="active">Help desk</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 Copyright Lapeez </p>
    </div>
</footer>