.header {
    margin-top: 36px;
    margin-bottom: 24px;
}

.sub-header {
    margin-bottom: 16px;
}

.sub-footer {
    margin-top: 36px;
    margin-bottom: 24px;
    margin-left: 16px;
}

.list-display li {
    margin-bottom:.4rem;
    font-size:1.1rem;
  }
  .list-checkmarks {
    padding-left:1.5rem;
  }
  .list-checkmarks li {
    list-style-type:none;
    padding-left:1rem;
  }
  .list-checkmarks li:before {    
  font-family: 'FontAwesome';
  content: "\f00c";
  margin:0 10px 0 -28px;
  color: #17aa1c;
  }