<h3 class="header"> Networking Services</h3>
<h4 class="sub-header"> We are specilized in the following Networking services</h4>
<ul  class="list-display list-checkmarks">
  <li> New Networking Installation</li>
  <li> Re-design of Existing Network</li>
  <li> Wired and Wireless Services</li>
  <li> Network System Administration and Management</li>
  <li> Workstation and Server Maintenance</li>
  <li> Shared Internet Access</li>
  <li> Printer/FAX Sharing</li>
  <li> File Sharing</li>
  <li> CPU Sharing Services</li>
  <li> Network Troube shooting</li>
  <li> Trouble shooting Switches, Hubs, Routers, Servers and more</li>
</ul>

<h5 class="sub-footer"> We also provide the network maintenance services for small and mid-range organisations</h5>