<h3 class="header"> Dekstop Services</h3>
<h4 class="sub-header"> We are specilized in the following Desktop services</h4>
<ul  class="list-display list-checkmarks">
  <li> Diagnostic Service</li>
  <li> Fan Replacements</li>
  <li> HDD Replacements</li>
  <li> Mother Board Upgrade</li>
  <li> Memory Upgrade (HDD or RAM)</li>
  <li> Power Supply Repair</li>
  <li> Reinstall</li>
  <li> Virus Removal</li>
  <li> General services</li>
</ul>

<h5 class="sub-footer"> Above services are available for all known brands such as Ausu, Acer, Dell, Lenovo, HP and many more..</h5>