<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#"><img src="../../assets/images/Lapeeze.png" alt="lapeeze logo" height="48px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Desktop</a></li>
            <li><a class="dropdown-item" href="#">Laptop</a></li>
            <li><a class="dropdown-item" href="#">Printers</a></li>
            <li><a class="dropdown-item" href="#">Networking</a></li>
            <li><a class="dropdown-item" href="#">Data recovery</a></li>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Chip level services</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/events" routerLinkActive="active">Upcoming events</a>
          </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>