<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="address">
            <h4 class="address_header">Please visit us</h4>
            <div class="contact_address">
              <div class="contact_icons">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
              </div>
              <div class="contact_icons">
                <b>Lapeeze</b> <br>
                #51A, 2 nd floor <br>
                Jubili Layout, Near BRS Global School <br>
                Amrute College Main Road, Kasavanahalli <br>
                <b>Bangalore </b> - 560 035 <br>
              </div>
              <br style="clear: left;" />
            </div>
            <div class="contact_phone">
              <div class="contact_icons">
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
              </div>
              <div class="contact_icons">
                +91 - <b>9035-276-791</b> <br>
                +91 - <b>9113-888-563</b> <br>
                +91 - <b>9066-078-881</b> <br>

              </div>
              <br style="clear: left;" />
            </div>
            <div class="contact_mail">
                <div class="contact_icons">
                  <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </div>
                <div class="contact_icons">
                  lapeezeservice@gmail.com
                </div>
              </div>
          </div>
          <div id="map-container-google-1" class="z-depth-1-half map-container" style="margin-top:24px; margin-bottom:36px; height: 240px; width: 480px" >
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1041.2903152756755!2d77.67578334738276!3d12.905212200266664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTLCsDU0JzE5LjkiTiA3N8KwNDAnMzIuNiJF!5e0!3m2!1sen!2sin!4v1554662065705!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="comm">
            <h4> Write us </h4>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="text">Name:</label>
                <input type="text" class="form-control" id="Name">
              </div>
              <div class="form-group">
                <label for="text">Email address:</label>
                <input type="text" class="form-control" id="email">
              </div>
              <div class="form-group">
                  <label for="text">Phone No:</label>
                  <input type="text" class="form-control" id="phone">
                </div>
              <div class="form-group">
                <label for="comment">Your message:</label>
                <textarea class="form-control" rows="5" id="message"></textarea>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>  
    </div>
</div>
