<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="address">
            <h4 class="address_header">Visit us</h4>

            <h6> Address Line  #1</h6>
            <h6> Address Line  #2</h6>
            <h6> Address Line  #3</h6>
            <h6> Address Line  #4</h6>
          </div>
          <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 240px; width: 480px" >
              <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="comm">
            <h4> Write us </h4>
            <form action="/action_page.php">
              <div class="form-group">
                <label for="text">Name:</label>
                <input type="text" class="form-control" id="Name">
              </div>
              <div class="form-group">
                <label for="text">Email address:</label>
                <input type="text" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="comment">Your message:</label>
                <textarea class="form-control" rows="5" id="message"></textarea>
              </div>
              
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>  
    </div>
</div>
