<h3 class="header"> Laptop Services</h3>
<h4 class="sub-header"> We are specilized in the following Laptop services</h4>
<ul  class="list-display list-checkmarks">
  <li> Chip Level Issues</li>
  <li> Battery Issues</li>
  <li> Charging Issues</li>
  <li> Hardware Upgrading</li>
  <li> Display Upgrading</li>
  <li> IO Port Replacements</li>
  <li> Touchpad Replacement</li>
  <li> Software Trouble Shooting</li>
  <li> Screen Replacements</li>
  <li> Adapater Issues</li>
  <li> keypad Replacements</li>
  <li> Wifi Issues</li>
  <li> Operating System Issues</li>
  <li> General services</li>
</ul>

<h5 class="sub-footer"> Above services are available for all known brands such as Ausu, Acer, Dell, Lenovo, HP and many more..</h5>