<h3 class="header"> Printer Services</h3>
<h4 class="sub-header"> We are specilized in the following Printer types</h4>
<ul  class="list-display list-checkmarks">
  <li> Laser Printers</li>
  <li> Inkjet Printers</li>
  <li> Deskjet Printers</li>
  <li> All-In-One printers</li>
  <li> Dot-Matrix printers</li>
  <li> Pass Book Printer</li>
  <li> ID Card printers</li>
  <li> Scanners</li>
</ul>
<h4> We have expertise in providing services to following Printers</h4>
<ul  class="list-display list-checkmarks">
    <li> Hewlett Packard (HP)</li>
    <li> Epson</li>
    <li> Canon</li>
    <li> Samsung</li>
    <li> DWipro</li>
    <li> Pass Book Printer</li>
    <li> ID Card printers</li>
    <li> Scanners</li>
</ul>


<h5 class="sub-footer"> We also support printer maintenance service at competative prices.</h5>