  <div class="container-fluid">
      <section class="row no-gutter align-items-center">
          <div class="col-lg-12 text-center p-0 d-flex align-items-center">
              <img class="img-fluid position-relative mx-auto banner_image" src="../../assets/banner/lapeeze_background.jpg" alt="">
              <h3 class="w-100 position-absolute my-auto banner_header">A NEW HIGH FOR THE EXPERIENCE OF A SERVICE</h3>
          </div>
      </section>
  </div>
  <div class="marquee_add">
      <marquee behavior="alternate"><div class="marquee_text">LAPTOP & DEKTOP SERVICES @ YOUR DOOR STEP</div></marquee>
  </div>
  <div class="box first_row_detail">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-laptop fa-4x" aria-hidden="true"></i>          
                <div class="title">
                  <h4>Laptop</h4>
                </div>        
                <div class="text">
                  <span>Our professionally trained Laptop technicians have a very good knowledge in all range of laptops. We provide the best laptop service from Hardware repair to Software issues.</span>
                </div>      
                <button type="button" class="btn btn-outline-dark button_learn_more" routerLink="/laptop" routerLinkActive="active">Know More</button>         
            </div>
          </div>	 
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
                <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                <div class="title">
                  <h4>Data Recovery</h4>
                </div>          
              <div class="text">
                <span>Our engineering team has expertise in recovering data from various storage devices. Data recovery engineers treat mechanical damage, water accumulation, electronic issues, and
                    file corruption.</span>
              </div>            
              <button type="button" class="btn btn-outline-dark button_learn_more" routerLink="/recovery" routerLinkActive="active">Know More</button>            
            </div>
          </div>	 
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="box-part text-center">
              <i class="fa fa-plug fa-4x" aria-hidden="true"></i>
              <div class="title">
                <h4>Networking</h4>
              </div>           
              <div class="text">
                <span>Our team offers the best business networking services. Whether you need to establish a new network, repair an existing network, or upgrade some components.</span>
              </div>          
              <button type="button" class="btn btn-outline-dark button_learn_more" routerLink="/networking" routerLinkActive="active">Know More</button>                    
             </div>
          </div>	 
      </div>		
  </div>
  <div class="mission_vision">
      <div class="container">
          <div id="carouselContent" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active text-center p-4">
                       <h5>Our Mission</h5>
                       <p>To provide our customers with reliable and professional IT services, thereby helping them run their businesses better and more efficiently while creating long-term relationships.</p>
                  </div>
                  <div class="carousel-item text-center p-4">
                    <h5> Our Vision</h5>
                      <p>We aim to be the number one provider of computer services in Lapeeze and gain the loyalty and confidence of our customers. We are trying to introduce best strategies and world class engineering in our processs. </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

